/*
LIBER SALUS SA DE CV
Propuesta de estilos globales identidad
20250306 por: Dany Tobar / Deya Jimenez 
*/

/* ----------VARIABLES---------- */

/* TIPOGRAFGIAS */

    /* tipos */

@font-face {
    font-family: "Inter_28pt-Regular" ;
    src: url("../src/font/Inter/static/Inter_28pt-Regular.ttf");
}
@font-face {
    font-family: "Raleway-Regular" ;
    src: url("../src/font/Raleway/Raleway-Regular.ttf");
}

html {
    font-size: 100%;
    font-family: var(--font-Inter);
}

/* EDITABLES  <<modif: 06/03/2025 */

:root{

    /* colores */

    --color-LSazul1:#001124;
    --color-LSazul2:#03254e;
    --color-LSazul3:#124789;
    --color-LSazul4:#68c6cd;

    --color-LSgris1:#1c2228;
    --color-LSgris2:#47697a;
    --color-LSgris3:#a1b1b7;
    --color-LSgris4:#e1e3e8;
    --color-LSgris5:#f2f3f7;

    --color-LSstndB:#000000;
    --color-LSstndW:#ffffff;

    /* tipos de fuentes */

    --font-Inter: "Inter_28pt-Regular";
    --font-Rlway: "Raleway-Regular";

    /* tamaños fuentes fijas */

    --fontSize-bner1:2.074rem;
    --fontSize-bner2:1.728rem;
    --fontSize-bner3:1.440rem;

    --fontSize-text1:1.200rem;
    --fontSize-text2:1.000rem;
    --fontSize-text3:0.833rem;

    --fontSize-data1:0.694rem;
    --fontSize-data2:0.579rem;

    /* tamaños fuentes variables */

    /* Banner */
    --clmp-min720-bner1: clamp(1.167rem, calc(1.167rem + 1.5vw), 2.074rem);
    --clmp-min720-bner2: clamp(0.972rem, calc(0.972rem + 1.2vw), 1.728rem);
    --clmp-min720-bner3: clamp(0.810rem, calc(0.810rem + 1.0vw), 1.440rem);

    /* Texto */
    --clmp-min720-text1: clamp(0.675rem, calc(0.675rem + 0.8vw), 1.200rem);
    --clmp-min720-text2: clamp(0.562rem, calc(0.562rem + 0.6vw), 1.000rem);
    --clmp-min720-text3: clamp(0.468rem, calc(0.468rem + 0.5vw), 0.833rem);

    /* Datos */
    --clmp-min720-data1: clamp(0.390rem, calc(0.390rem + 0.4vw), 0.694rem);
    --clmp-min720-data2: clamp(0.326rem, calc(0.326rem + 0.3vw), 0.579rem);

    
}

/* Estilos Botones (no editables)*/

.btnClaro, .btnOscur {
    appearance: none;
    padding: 0.5rem 1.25rem;
    border: none;
    border-radius: 25px;
    width: clamp(50px, auto, 120px);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex-shrink: 0;
}
.btnClaro::before, .btnOscur::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    z-index: -1;
    transition: top 0.2s ease;   
}
.btnClaro::after, .btnOscur::after {
    content: "";
    position: absolute;
    top: -40px;
    left: -25px;
    width:  30px;
    height: 30px;
    border-radius: 50%;
    background-image: transparent;
    transform: translate(-30px, -30px);
    transition: transform 0.2s ease;
}
.btnClaro:hover, .btnOscur:hover {
    transform: scale(1.03);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease;
}
.btnClaro:hover::before, .btnOscur:hover::before  {top: -100%;}
.btnClaro:hover::after, .btnOscur:hover::after   {transform: translate(0, 0);}
.btnClaro:active, .btnOscur:active {color: var(--color-LSgris3); transform: scale(1);}
.btnClaro:active::after, .btnOscur:active::after  {display: none;}


/* ***boton Claro*** (variables colores editables) */

.LS-btnlgt {
    background: var(--color-LSgris5);
    color: var(--color-LSazul3);
}
.btnClaro::before {
    background-image: linear-gradient(var(--color-LSstndW) 50%, var(--color-LSgris5) 100%);
}
.btnClaro::after {
    box-shadow: 10px 10px 30px rgb(255, 255, 255);
}
.btnClaro:active::before {background-image: linear-gradient(var(--color-LSgris4), var(--color-LSstndW));}
.btnClaro:active {color: var(--color-LSgris2); transform: scale(1.0);}


/* ***boton Oscuro*** (variables colores editables) */

.btnOscur {
    background: transparent;
    color: var(--color-LSstndW);
}
.btnOscur::before {
    background-image: linear-gradient(var(--color-LSazul3) 50%, var(--color-LSazul1) 100%);
}
.btnOscur::after {
    background-image: transparent;
    box-shadow: 10px 10px 30px rgb(255, 255, 255);
}
.btnOscur:active::before {background-image: linear-gradient(var(--color-LSazul1), var(--color-LSazul3));}





