@import url("./acceso.css");
@import url("./bienvenida.css");
@import url("./instrucciones.css");
@import url("./terminos.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cnt-hero{
    .liber{
        margin: 0 auto;
        width: 50%;
    }
}

.cnt-hero{
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#entrar{
    display: block;
    text-align: center;
}