.monoAlambre {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;;
    padding: 0 3%;
    margin-bottom: 200px;
}

.cntMonotxt {
    display: block;
    width: 35%;
    
    & :nth-child(1) {
        font-size: 2.5rem;
        margin-bottom: 1rem; 
    }
    & :nth-child(2) {
        font-size: 1.25rem;
        line-height: 1.4;
        margin-bottom: 1.5rem;
        
    }
    & .descargar {
        font-size: 1rem;
    }
}


.cntMono {
    position: relative;
    width: 50%;
    /* border: 1px dashed rgb(187, 255, 0); */
    text-align: center;
    /* transform: scale(1.5); */
    /* margin-left: 400px; */
    
    
    
    
}
.mono {
    & img {width: 50%;}
}
.cntSvg, .linea {
    position: absolute;
    width: 150%;
    height: 110%;
    /* border: 2px dashed; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #acacac;
}


/* seccion dispositivos */

.dispositivos {
    border: 2px dashed red;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 3%;
}

.cntDispimg {
    width: 50%;
    border: 2px dashed red;
    display: flex;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cntDispimg img:nth-child(1) {
    object-fit: contain;
    border: 2px dashed rgb(151, 191, 20);
    
    width: 50%;
    transform: translateX(calc(100% - 50%));
}
.cntDispimg img:nth-child(2) {
    object-fit: contain;
    border: 2px dashed rgb(0, 21, 255);
    
    width: 25%;
    transform: translateX(calc(100% - 90%)) translateY(30%);
}


.cntDisptxt {
    /* display: none; */
    width: 35%;
    text-align: end;
    
    & :nth-child(1) {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    & :nth-child(2) {
        font-size: 1.25rem;
        line-height: 1.4;
        margin-bottom: 1.5rem;
        
    }
}
.cntDispimg:hover img:nth-child(1){
    transform: translate(0);
}
.cntDispimg:hover img:nth-child(2){
    transform: translate(20%, 0);
}

/* Estado de animo ((trans color */

.do1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC   0%) ;}
.do2 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}
.do3 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}
.do4 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}

.lu1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC   0%) ;}
.lu2 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC   0%) ;}
.lu3 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}
.lu4 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}

.ma1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%) ;}
.ma2 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%) ;}
.ma3 {fill: color-mix(in srgb, #0A4789  50%, #f1EFEC  00%) ;}
.ma4 {fill: color-mix(in srgb, #0A4789  25%, #f1EFEC  00%) ;}

.mi1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%) ;}
.mi2 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%) ;}
.mi3 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}
.mi4 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}

.ju1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%) ;}
.ju2 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%) ;}
.ju3 {fill: color-mix(in srgb, #0A4789  50%, #f1EFEC  00%) ;}
.ju4 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}

.vi1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%) ;}
.vi2 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%) ;}
.vi3 {fill: color-mix(in srgb, #0A4789  50%, #f1EFEC  00%) ;}
.vi4 {fill: color-mix(in srgb, #0A4789  25%, #f1EFEC  00%) ;}

.sa1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%) ;}
.sa2 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%) ;}
.sa3 {fill: color-mix(in srgb, #0A4789  50%, #f1EFEC  00%) ;}
.sa4 {fill: color-mix(in srgb, #0A4789  25%, #f1EFEC  00%) ;}

.som1 {filter: opacity(0.15);}
.som2 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%) ;}
.som3 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%) ;}

.sistolica {
    
}

.bajo     {stroke: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%)}
.moderado {stroke: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%)}
.alto     {stroke: color-mix(in srgb, #0A4789  50%, #f1EFEC  00%)}
.riesgoso {stroke: color-mix(in srgb, #0A4789  25%, #f1EFEC  00%)}

/* animaciones */

/* estado de animo */

.som1 {animation: seleccionEstado 5s ease infinite}
@keyframes seleccionEstado {
    0% {y: 95;}
    20%{y: 117;}
    40%{y: 117;}
    60%{y: 76;}
    80%{y: 76;}
}
.som2 {
    animation: seleccionDia 5s ease infinite;
    fill:#0A4789;
    filter: opacity(0.3);
}
@keyframes seleccionDia {
    0% {x:262.5; }
    20%{x:292.5; y: 118; height: 40px;}
    40%{x:292.5; y: 118; height: 40px;}
    60%{x:202.5; y: 138; height: 20px;}
    80%{x:202.5; y: 138; height: 20px;}
}

/* presion arterial */


.puntosPA1  {animation: puntosPAuno     5s ease 0.1s infinite;}
.puntosPA2  {animation: puntosPAdos     5s ease 0.2s infinite;}
.puntosPA3  {animation: puntosPAtres    5s ease 0.3s infinite;}
.puntosPA4  {animation: puntosPAcuatro  5s ease 0.4s infinite;} 
.puntosPA5  {animation: puntosPAcinco   5s ease 0.5s infinite;} 
.puntosPA6  {animation: puntosPAseis    5s ease 0.6s infinite;} 
.puntosPA7  {animation: puntosPAsiete   5s ease 0.7s infinite;} 
.puntosPA8  {animation: puntosPAocho    5s ease 0.8s infinite;} 
.puntosPA9  {animation: puntosPAnueve   5s ease 0.9s infinite;} 
.puntosPA10 {animation: puntosPAdiez    5s ease 1.0s infinite;}
.puntosPA11 {animation: puntosPAonce    5s ease 1.1s infinite;}


@keyframes puntosPAuno {
    0%  {y: 410;}
    20% {y: 363;}
    80% {y: 363;}
    100%{y: 410;}
}
@keyframes puntosPAdos {
    0%  {y: 410;}
    20% {y: 363;}
    80% {y: 363;}
    100%{y: 410;}
}
@keyframes puntosPAtres {
    0%  {y: 410;}
    20% {y: 383;}
    80% {y: 383;}
    100%{y: 410;}
}
@keyframes puntosPAcuatro {
    0%  {y: 410;}
    20% {y: 391;}
    80% {y: 391;}
    100%{y: 410;}
}
@keyframes puntosPAcinco {
    0%  {y: 410;}
    20% {y: 359;}
    80% {y: 359;}
    100%{y: 410;}
}
@keyframes puntosPAseis {
    0%  {y: 410;}
    20% {y: 399;}
    80% {y: 399;}
    100%{y: 410;}
}
@keyframes puntosPAsiete {
    0%  {y: 410;}
    20% {y: 349;}
    80% {y: 349;}
    100%{y: 410;}
}
@keyframes puntosPAocho {
    0%  {y: 410;}
    20% {y: 363;}
    80% {y: 363;}
    100%{y: 410;}
}
@keyframes puntosPAnueve {
    0%  {y: 410;}
    20% {y: 379;}
    80% {y: 379;}
    100%{y: 410;}
}
@keyframes puntosPAdiez {
    0%  {y: 410;}
    20% {y: 346;}
    80% {y: 346;}
    100%{y: 410;}
}
@keyframes puntosPAonce{
    0%  {y: 410;}
    20% {y: 379;}
    80% {y: 379;}
    100%{y: 410;}
}

.lineaDia {
    animation: trazoDia 5s ease infinite;
}

@keyframes trazoDia {
    0%  {stroke-dashoffset: 300;}
    20% {stroke-dashoffset: 300;}
    80% {stroke-dashoffset: 00;}
    100%{stroke-dashoffset: 300;}
}



.sist1  { animation: lineaSisuno     5s ease 0.1s infinite; } 
.sist2  { animation: lineaSisdos     5s ease 0.2s infinite; } 
.sist3  { animation: lineaSistres    5s ease 0.3s infinite; } 
.sist4  { animation: lineaSiscuatro  5s ease 0.4s infinite; } 
.sist5  { animation: lineaSiscinco   5s ease 0.5s infinite; } 
.sist6  { animation: lineaSisseis    5s ease 0.6s infinite; } 
.sist7  { animation: lineaSissiete   5s ease 0.7s infinite; } 
.sist8  { animation: lineaSisocho    5s ease 0.8s infinite; } 
.sist9  { animation: lineaSisnueve   5s ease 0.9s infinite; }
.sist10 { animation: lineaSisdiez    5s ease 1.0s infinite; }
.sist11 { animation: lineaSisonce    5s ease 1.1s infinite; }

@keyframes lineaSisuno {
    0%  {filter: opacity(0);}
    20% {filter: opacity(0);}
    80% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes lineaSisdos {
    0%  {filter: opacity(0);}
    20% {filter: opacity(0);}
    80% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes lineaSistres {
    0%  {filter: opacity(0);}
    20% {filter: opacity(0);}
    80% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes lineaSiscuatro {
    0%  {filter: opacity(0);}
    20% {filter: opacity(0);}
    80% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes lineaSiscinco {
    0%  {filter: opacity(0);}
    20% {filter: opacity(0);}
    80% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes lineaSisseis {
    0%  {filter: opacity(0);}
    20% {filter: opacity(0);}
    80% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes lineaSissiete {
    0%  {filter: opacity(0);}
    20% {filter: opacity(0);}
    80% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes lineaSisocho {
    0%  {filter: opacity(0);}
    20% {filter: opacity(0);}
    80% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes lineaSisnueve {
    0%  {filter: opacity(0);}
    20% {filter: opacity(0);}
    80% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes lineaSisdiez {
    0%  {filter: opacity(0);}
    20% {filter: opacity(0);}
    80% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes lineaSisonce {
    0%  {filter: opacity(0);}
    20% {filter: opacity(0);}
    80% {filter: opacity(1);}
    100%{filter: opacity(0);}
}

/* 2da grafica */

.puntosSIS1  {animation: puntosSISuno      5s ease 0.1s infinite;}
.puntosSIS2  {animation: puntosSISdos      5s ease 0.2s infinite;}
.puntosSIS3  {animation: puntosSIStres     5s ease 0.3s infinite;}
.puntosSIS4  {animation: puntosSIScuatro   5s ease 0.4s infinite;}
.puntosSIS5  {animation: puntosSIScinco    5s ease 0.5s infinite;}
.puntosSIS6  {animation: puntosSISseis     5s ease 0.6s infinite;}
.puntosSIS7  {animation: puntosSISsiete    5s ease 0.7s infinite;}
.puntosSIS8  {animation: puntosSISocho     5s ease 0.8s infinite;}
.puntosSIS9  {animation: puntosSISnueve    5s ease 0.9s infinite;}
.puntosSIS10 {animation: puntosSISdiez     5s ease 1.0s infinite;}
.puntosSIS11 {animation: puntosSISonce     5s ease 1.1s infinite;}

@keyframes puntosSISuno {
    0%  {y: 410;}
    20% {y: 336;}
    80% {y: 336;}
    100%{y: 410;}
}
@keyframes puntosSISdos {
    0%  {y: 410;}
    20% {y: 341;}
    80% {y: 341;}
    100%{y: 410;}
}
@keyframes puntosSIStres {
    0%  {y: 410;}
    20% {y: 350;}
    80% {y: 350;}
    100%{y: 410;}
}
@keyframes puntosSIScuatro {
    0%  {y: 410;}
    20% {y: 351;}
    80% {y: 351;}
    100%{y: 410;}
}
@keyframes puntosSIScinco {
    0%  {y: 410;}
    20% {y: 356;}
    80% {y: 356;}
    100%{y: 410;}
}
@keyframes puntosSISseis {
    0%  {y: 410;}
    20% {y: 362;}
    80% {y: 362;}
    100%{y: 410;}
}
@keyframes puntosSISsiete {
    0%  {y: 410;}
    20% {y: 346;}
    80% {y: 346;}
    100%{y: 410;}
}
@keyframes puntosSISocho {
    0%  {y: 410;}
    20% {y: 336;}
    80% {y: 336;}
    100%{y: 410;}
}
@keyframes puntosSISnueve {
    0%  {y: 410;}
    20% {y: 345;}
    80% {y: 345;}
    100%{y: 410;}
}
@keyframes puntosSISdiez {
    0%  {y: 410;}
    20% {y: 351;}
    80% {y: 351;}
    100%{y: 410;}
}
@keyframes puntosSISonce {
    0%  {y: 410;}
    20% {y: 343;}
    80% {y: 343;}
    100%{y: 410;}
}
.lineaSis { animation: trazoSis 5s ease infinite; }

@keyframes trazoSis {
    0%  {stroke-dashoffset: 300;}
    20% {stroke-dashoffset: 300;}
    80% {stroke-dashoffset: 00;}
    100%{stroke-dashoffset: 300;}
}

/* division */
.division { animation: division 5s ease infinite alternate; }
@keyframes division { to {stroke-dasharray: 1 1;}}

/* aros en cintura */

.aroCinUno { animation: baja 5s ease infinite alternate;}
.aroCinDos { animation: sube 5s ease infinite alternate;}

@keyframes baja { to {transform: translateY(30px);}}
/* @keyframes sube { to {transform: translateY(-30px);}} */

/* arcos en pantorrilla */

.elips {
    cy:800;
    rx: 30;
    animation: bajar 5s ease alternate infinite;
}

@keyframes bajar {
    to {
        cy:750;
        rx: 40;
    }
}

/* frecuencia cardiaca */

/* semana 1 */

.s1l1{ animation: sem1lun 5.6s ease 0.2s alternate infinite;}
.s1l2{ animation: sem1mar 5.6s ease 0.4s alternate infinite;}
.s1l3{ animation: sem1mie 5.6s ease 0.6s alternate infinite;}
.s1l4{ animation: sem1jue 5.6s ease 0.8s alternate infinite;}
.s1l5{ animation: sem1vie 5.6s ease 1.0s alternate infinite;}
.s1l6{ animation: sem1sab 5.6s ease 1.2s alternate infinite;}
.s1l7{ animation: sem1dom 5.6s ease 1.4s alternate infinite;}

@keyframes sem1lun { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem1mar { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem1mie { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem1jue { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem1vie { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem1sab { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem1dom { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}

/* semana 2 */

.s2l1{ animation: sem2lun 5.6s ease 1.6s alternate infinite;}
.s2l2{ animation: sem2mar 5.6s ease 1.8s alternate infinite;}
.s2l3{ animation: sem2mie 5.6s ease 2.0s alternate infinite;}
.s2l4{ animation: sem2jue 5.6s ease 2.2s alternate infinite;}
.s2l5{ animation: sem2vie 5.6s ease 2.4s alternate infinite;}
.s2l6{ animation: sem2sab 5.6s ease 2.6s alternate infinite;}
.s2l7{ animation: sem2dom 5.6s ease 2.8s alternate infinite;}

@keyframes sem2lun { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem2mar { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem2mie { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem2jue { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem2vie { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem2sab { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem2dom { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}

/* semana 3 */

.s3l1{ animation: sem3lun 5.6s ease 3.0s alternate infinite;}
.s3l2{ animation: sem3mar 5.6s ease 3.2s alternate infinite;}
.s3l3{ animation: sem3mie 5.6s ease 3.4s alternate infinite;}
.s3l4{ animation: sem3jue 5.6s ease 3.6s alternate infinite;}
.s3l5{ animation: sem3vie 5.6s ease 3.8s alternate infinite;}
.s3l6{ animation: sem3sab 5.6s ease 4.0s alternate infinite;}
.s3l7{ animation: sem3dom 5.6s ease 4.2s alternate infinite;}

@keyframes sem3lun { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem3mar { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem3mie { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem3jue { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem3vie { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem3sab { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem3dom { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}

/* semana 4 */

.s4l1{ animation: sem4lun 5.6s ease 4.4s alternate infinite;}
.s4l2{ animation: sem4mar 5.6s ease 4.6s alternate infinite;}
.s4l3{ animation: sem4mie 5.6s ease 4.8s alternate infinite;}
.s4l4{ animation: sem4jue 5.6s ease 5.0s alternate infinite;}
.s4l5{ animation: sem4vie 5.6s ease 5.2s alternate infinite;}
.s4l6{ animation: sem4sab 5.6s ease 5.4s alternate infinite;}
.s4l7{ animation: sem4dom 5.6s ease 5.6s alternate infinite;}

@keyframes sem4lun { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem4mar { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem4mie { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem4jue { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem4vie { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem4sab { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}
@keyframes sem4dom { 
    5%  {filter: opacity(0);}
    10% {filter: opacity(1);}
    90% {filter: opacity(1);}
    100%{filter: opacity(0);}
}

.lineFrecuencia { animation: trazoFrecuenica 11.2s ease 2.5s infinite;}

@keyframes trazoFrecuenica {
    0%  {stroke-dashoffset: 800;}
    20% {stroke-dashoffset: 800;}
    80% {stroke-dashoffset:  00;}
    100%{stroke-dashoffset: 800;}
}


/* .lineaSis { animation: trazoSis 5s ease infinite; }

@keyframes trazoSis {
    0%  {stroke-dashoffset: 300;}
    20% {stroke-dashoffset: 300;}
    80% {stroke-dashoffset: 00;}
    100%{stroke-dashoffset: 300;}
} */