.monoAlambre {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;;
    padding: 0 3%;
    margin-bottom: 200px;
}

.cntMonotxt {
    /* display: none; */
    /* border: 2px dashed red; */
    width: 35%;
    
    & :nth-child(1) {
        font-size: 2.5rem;
        margin-bottom: 1rem; 
    }
    & :nth-child(2) {
        font-size: 1.25rem;
        line-height: 1.4;
        margin-bottom: 1.5rem;
        
    }
    & .descargar {
        font-size: 1rem;
    }
}


.cntMono {
    position: relative;
    width: 50%;
    /* border: 1px dashed rgb(187, 255, 0); */
    text-align: center;
    /* transform: scale(2);
    margin-left: 400px; */

    
    

}
.mono {
    & img {width: 50%;}
}
.cntSvg, .linea {
    position: absolute;
    width: 150%;
    height: 110%;
    /* border: 2px dashed; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #acacac;
}





.line {
    
    stroke-dasharray: 20 20;
    x: 700;
    y: 50;
    animation: stroke 5s ease reverse infinite;
}
@keyframes stroke {
    to {
        stroke-dasharray: 5 50;
        
    }
}



.elips {
    cy:800;
    rx: 30;
    animation: bajar 5s ease alternate infinite;
}

@keyframes bajar {
    to {
        cy:750;
        rx: 40;
    }
}
   
    
/* seccion dispositivos */

.dispositivos {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 3%;
}

.cntDispimg {
    width: 50%;
    border: 2px dashed red;
    display: flex;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cntDispimg img:nth-child(1) {
    object-fit: contain;
    border: 2px dashed rgb(151, 191, 20);
    
    width: 50%;
    transform: translateX(calc(100% - 50%));
}
.cntDispimg img:nth-child(2) {
    object-fit: contain;
    border: 2px dashed rgb(0, 21, 255);
    
    width: 25%;
    transform: translateX(calc(100% - 90%)) translateY(30%);
}


.cntDisptxt {
    /* display: none; */
    width: 35%;
    text-align: end;
    
    & :nth-child(1) {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    & :nth-child(2) {
        font-size: 1.25rem;
        line-height: 1.4;
        margin-bottom: 1.5rem;
        
    }
}
/* .cntDispimg:hover img:nth-child(1){
    transform: translate(0);
}
.cntDispimg:hover img:nth-child(2){
    transform: translate(20%, 0);
} */

/* Estado de animo ((trans color */

.do1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC   0%) ;}
.do2 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}
.do3 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}
.do4 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}

.lu1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC   0%) ;}
.lu2 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC   0%) ;}
.lu3 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}
.lu4 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}

.ma1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%) ;}
.ma2 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}
.ma3 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}
.ma4 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}

.mi1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%) ;}
.mi2 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%) ;}
.mi3 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}
.mi4 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}

.ju1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%) ;}
.ju2 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%) ;}
.ju3 {fill: color-mix(in srgb, #0A4789  50%, #f1EFEC  00%) ;}
.ju4 {fill: color-mix(in srgb, #0A4789  00%, #f1EFEC 100%) ;}

.vi1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%) ;}
.vi2 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%) ;}
.vi3 {fill: color-mix(in srgb, #0A4789  50%, #f1EFEC  00%) ;}
.vi4 {fill: color-mix(in srgb, #0A4789  25%, #f1EFEC  00%) ;}

.sa1 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%) ;}
.sa2 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%) ;}
.sa3 {fill: color-mix(in srgb, #0A4789  50%, #f1EFEC  00%) ;}
.sa4 {fill: color-mix(in srgb, #0A4789  25%, #f1EFEC  00%) ;}

.som1 {filter: opacity(0.15);}
.som2 {fill: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%) ;}
.som3 {fill: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%) ;}

.sistolica {
    
}

.bajo     {stroke: color-mix(in srgb, #0A4789 100%, #f1EFEC  00%)}
.moderado {stroke: color-mix(in srgb, #0A4789  75%, #f1EFEC  00%)}
.alto     {stroke: color-mix(in srgb, #0A4789  50%, #f1EFEC  00%)}
.riesgoso {stroke: color-mix(in srgb, #0A4789  25%, #f1EFEC  00%)}

