@import url("./index.css");

aside{
    height: 600px;
    margin-bottom: 200px;
    
}

.cnt-misvis{
    width: 90%;
    display: flex;
    margin: 100px auto;

}

.cnt-mis, .cnt-vis{
    min-width: 40%;
    padding: 70px;
    background-image: url("../src/svg/img.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    object-fit: cover;
    background-position: center ;
    transition: 1s ease;
    
    p{
        transition: 1s ease;
        color: rgb(31, 30, 30);
        line-height: 1.4;
        transform: translateX(-30px);
        filter: opacity(0);
    }
    
    & :nth-child(1){
        margin-bottom: 20px;
    }
}

.cnt-mis:hover, .cnt-vis:hover{
    background-size: 50%;
    & p{
        transform: translateX(0px);
        filter: opacity(1);

    }
}

.valores {  
    margin: 300px auto;  
    width: 100%;  
    
    h2 {  
        text-align: center;  
        font-size: 2rem;  
    }  
    transition: all 1.3s ease;
    
    .cnt-val {  
        margin-top: 100px;  
        display: flex;  
        flex-wrap: wrap;  
        justify-content: center;
        
        .val {  
            transition: height 1.3s ease;  
            flex: 1 1 150px;   
            max-width: 150px;  
            height: 150px;  
            margin: 10px; 
            border: 1px solid;  
            border-radius: 50%;  
            position: relative;   
        }  
        
        .val::before,  
        .val::after {  
            position: absolute;  
            content: "";  
            width: 100%;  
            height: 1px;  
            background-color: black;  
            top: 50%;  
        }  
        
        .val::before {  
            transform: rotate(45deg);  
        }  
        
        .val::after {  
            transform: rotate(-45deg);  
        }  
    }  
}
@media screen and (max-width: 768px){
    aside{
        p{width: 80%;}
    }

    .cnt-misvis{
        width: 90%;
        flex-direction: column;
        .cnt-mis, .cnt-vis{
            width: 100%;
            p{line-height: 1.2;}
            text-align: center;
        }
    }
    .valores{
        .cnt-val{
            flex-wrap: wrap;
            justify-content: center;
            width: 90%;
            .val{
                gap: 20%;
                margin-bottom: 30px;
                
            }
        }
    }
}
