body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cartaRegistro{
    align-items: center;
    text-align: center;
    width: 824px;
    height: 75%;
    background-color: #aaa1;
    display: grid;
    grid-template-rows: repeat(8, 48px);
    justify-content: center;
    gap: 16px;
}
.cartaRegistro h1, .cartaRegistro h3{
    margin: 0;
}
.cartaRegistro input{
    width: 395px;
    border-radius: 10px;
    border: none;
    height: 32px;
}
.cartaRegistro button{
    width: 171px;
}
#inputCelular{
    width: 395px;
    display: grid;
    grid-template-columns: 100px auto;
    gap: 8px;
}
#inputCelular input{
    width: auto;
}