body > div{
    display: none;
    animation: entrada 1s;
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.cartaRegistro{
    align-items: center;
    text-align: center;
    width: 824px;
    height: 75%;
    background-color: #aaa1;
    grid-template-rows: repeat(8, 48px);
    justify-content: center;
    gap: 16px;
}
.cartaRegistro h1, .cartaRegistro h3{
    margin: 0;
}
.cartaRegistro input{
    width: 395px;
    border-radius: 10px;
    border: none;
    height: 32px;
}
.cartaRegistro button{
    width: 171px;
}
#inputCelular{
    width: 395px;
    display: grid;
    grid-template-columns: 122.4px 332.33px;
    gap: 8px;
}
#inputCelular input{
    width: auto;
}
#inputCelular label{
    grid-column: 1/3;
}
#logo{
    height: 160px;
}
header{
    position: fixed;
}

@keyframes entrada{
    0%{
        transform: translateX(150vh);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes salida{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-150vh);
    }
}