@import url("/Cuestionario01/acceso.css");
@import url("/Cuestionario01/bienvenida.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "poppins";
    margin: 0 auto;
    width: 90%;
}

a{
    color: cadetblue;
    &:hover{
        text-decoration: underline;
        color: blueviolet;
    }
}

.cnt-modal{
    
    width: 0%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.445);
    position: fixed;
    inset: 0;
    display: flex;
    transition: width 0.5s ease-in-out transform 0.3 ease-in-out;
    visibility: hidden;
}
.modal{
    width: 80%;
    max-width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position: relative;
    display: none;
}

.cnt-modal:target{
    visibility: visible;
    
    width: 100%;
    height: 100vh;
    .modal{
        display: block;
    }
    
}

.btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: red;
    cursor: pointer;
}