@import url("./acceso.css");



.header{
    /* border: 2px dotted darkgoldenrod; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    .logo-header{
        display: block;
        width: 200px;
    }

    .encabezado{
        width: 70%;
        border-bottom: 2px solid #0081B6;
        text-align: end;

        p{
            font-size: clamp(1rem, 0.875rem + 0.5556vw, 3.55rem);
            line-height: 1.7;
        }
    }

}

.main-cnt{
    width: 90%;
    margin: 0px auto;
    margin-top: 50px;
    font-size: 16px;
    line-height: 1.4;
    position: relative;
    .weigth{
        font-weight: 800;
    }
    
}

.txt-ini{
    text-align: end;
    margin-right: 7%;
    font-weight: 100;
    font-size: 27px
}

.cnt-btn{
    width: 100%;
    display: flex;
    justify-content: end;
}

.foot-cues{
    display: flex;
    justify-content: start;
    /* border: 2px dotted darkgoldenrod; */
    width: 95%;
    margin: 20px auto;
    font-size: 12px;
    border-left: 3px solid #0081B6;
    padding: 15px;
    padding-bottom: 5px;
    line-height: 1.2;
    text-align: start;
    p{
        color: #b4aeae;
    }
    
}

ul{
    margin-left: px;
}


@media (max-width: 960px){

    .header .logo-header{
        width: 100px;
    }

}
