@import url("./acceso.css");
@import url("./bienvenida.css");



.header{
    position: fixed;
    top: 0;
    width: 95%;
    background-color: white;
    z-index: 2;
}
.preguntas{
    /* border: 2px dotted darkolivegreen; */
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin: 140px 5% 130px 30%;
    width: 65%;
    height: auto;
}

.fixed{
    position: fixed;
    top: 60%;
    transform: translateY(-50%);
    left: 0;
    width: 30%;
    
    /* border: 2px dotted darkcyan; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    z-index: 1;
}

.perfil, .usuario{
    font-size: 30px;
    
}
.numero{
    width:100px;
    height:100px;
    border: 2px solid #0081B6;
    border-radius: 50%;
    margin: 30px auto 10px;
    align-content: center;
    text-align: center;
    font-size: 54px;
    flex: 0 0 auto;
    
}

.texto{
    margin-top:40px ;
    font-size: 20px;
    color: #0081B6;
    line-height: 1.6;
}

.cnt-progreso{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    width: 60%;
    height: 14px;
    background-color: #eee;
    position: sticky;
}

#progreso{
    height: 10px;
    background-color: chartreuse;
    width: 0;
    
}

.help{
    display: block;
    width:  50px;
    height: 50px;
    border: 2px solid #575757;
    border-radius: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding-top: 3px;
}
.cnt-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    p{
        font-size: clamp(1rem, 0.5625rem + 1.9444vw, 1.875rem);
    }
}
.tipo{
    margin: 20px;
}

.item{
    /* border: 2px dotted darkolivegreen; */
    display: flex;
    flex-wrap: wrap;
    
}

.cnt-campo{
    /* border: 2px dotted darkolivegreen; */
    width: 40%;
    
}
.campo{
    position: relative;
    margin-top: 50px;


    p{
        font-size: clamp(1rem, 0.875rem + 0.5556vw, 1.55rem);
        margin-bottom: 10px;
    }

    input, select{
        width: 90%;
        height: 60px;
        border: none;
        border-bottom: 1px solid;
        border-bottom-left-radius: 0px;
        border-color: #0081B6;
        
        padding: 0 15px;
        margin-bottom: 10px;
        outline: none;
        font-size: 20px;
        color: #064d69;
        text-transform: uppercase;

    }

    label{
        position: absolute;
        top: -3px;
        left: 30px;
        transform: translateY(-50%);
        color: #59686b;
        font-size: 16px;
        font-weight: 100;
        transition: all 0.3s ease;
    }
    
    ::placeholder{
        color: #dae2e6;
    }

    input:focus + label,
    input:valid + label{
        font-size: 16px;
        color: #59686b;
        top: 5px;
        left: 15px;
        transform: translateX(100%);
        

    

    }
}

