@import url("./acceso.css");
@import url("./bienvenida.css");
@import url("./etapa1Q.css");
@import url("./instrucciones.css");



.descripcion{
    margin: 0 auto;
    line-height: 1.2;
    
}

.ejemplo{
    display: flex;
    flex-direction: column;
}

.respuesta{
    /* border: 2px dotted darkblue; */

    margin: 30px;
    margin-top: 5px;
    display: flex;
    gap: 10%;
    flex-direction: column;
    text-align: start;
    
    
}


@media (max-width: 960px){

}