@import url("./cues01.css");
@import url("./bienvenida.css");

body{
    position: relative;
    
}
.foot-cues{
    margin-top: 100px;
    bottom: 0;
}

.tit-instr{
    width: 50%;
    margin: 0 auto;
    margin-left: 20%;
    line-height: 1.4;
}

.cnt-instrucciones{
    /* border: 2px dotted darkgoldenrod; */
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.explicacion{
    /* border: 2px dotted darkgoldenrod; */
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    
    .cir{
        width: 70px;
        height: 70px;
        flex: 0 0 auto;
        border: 2px solid #0081B6;
        border-radius: 50%;
        margin-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        #num{
            color: white;
            font-size: 30px;
        }
        
    }
}

.tipo1, .tipo2, .tipo3, .tipo4{
    
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.ejemplo{
    margin-left: 10%;
    position: relative;
}

.ej{
    position: absolute;
    top: 30%;
    left: -10%;
    color: #0081B6;
    font-size: 20px;
    
}


.combo{
    
    
}

.combo select{
    width: 350px;
    height: 60px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0 5px;
    margin-bottom: 20px;
    outline: none;
    font-size: 16px;
    border-color: #0081B6;
    transition: background-color 0.3s ease;
}

select:hover{
    background-color: #fafafa;
}
select:focus{
    background-color: #fafafa;
    
}
option:focus{
    background-color: #0081B6;
    
}

input[type="range"]{
    margin-right: 10px;
    margin-top: 10px;
    width: 30%;
}

.indicador input[type="range"]{
    margin-top: 30px;
    width: 30%;
    height: 10px;
    border-radius: 5px;
    background-color: #d3d3d3;
    cursor: pointer;
    
}

#rangeValue{
    position: absolute;
    margin-top: 20px;
    font-size: 20px;
    color: #0081B6;
    
}
.slider::-webkit-range-thumb{
    appearance: none;
    
    background: #b60000;
}

@media (max-width: 1190px) {
    .ej{
        position: relative;
        margin-left: 30px;
    }
}
