/* Asegura que la página tenga suficiente altura para generar scroll */
*{
font-family: "Inter_28pt-Regular";
}

@font-face {
    font-family: "Inter_28pt-Regular" ;
    src: url("../src/font/Inter/static/Inter_28pt-Regular.ttf");
}

body,
html {
    margin: 0;
    padding: 0;
    height: 200%;
    overflow-x: hidden;
    position: relative;
    font-family: 'Poppins';
}

/* Contenedor de la imagen */
#image-container {
    /* border: 2px solid; */
    position: fixed;
    width: 100%;
    max-width: 800px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

/* Imagen que se actualizará según el scroll */
#rotating-image {
    width: 100%;
    display: block;
    filter: opacity(0.7);
}

/* Overlay para superponer elementos gráficos si fuera necesario */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.superior,
.centro,
.inferior {
    position: absolute;
    cursor: crosshair;
}

.superior {
    top: -20px;
    width: 410px;
    
}
.superior::before {
    position: absolute;
    content: "";
    width: var(--before-width, 410px);
    height: 1px;
    background-color: #000;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.superior::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #000;
    right: 0;
    bottom: -2.5px;

}

.iQ{
    position: absolute;
    top: 100px;
    right: 200px;
    font-size: 10px;
    span{
        font-size:25px;
        padding-right: 3px;
    }
}
.iQ::before{
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: 60px;
    top: -15px;
    background-image: url(../src/images/cerebro.gif);
    background-size: 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
    filter: grayscale(1) opacity(0.8);

}

.centro {
    top: 50%;
    right: 0;
    width: 410px;

    text-align: end;
}

.centro::before {
    position: absolute;
    content: "";
    width: var(--before-width, 320px);
    height: 1px;
    background-color: #000;
    bottom: 0;
    right: 0;
    transition: 0.3s ease-in-out;
}

.centro::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #000;
    right: 320px;
    bottom: -1.5px;
}

.lpm{
    position: absolute;
    top: -130px;
    right: -50px;
    font-size: 10px;
    span{
        font-size:25px;
        padding-right: 3px;
    }

}

.lpm::before{
    position: absolute;
    content: "";
    width:  60px;
    height: 60px;
    /* border: 2px dotted darkblue; */
    left: -70px;
    top: -15px;
    background-image: url(../src/images/corazon.gif);
    background-size: cover;
    filter: grayscale(1) opacity(0.8);


}
.inferior {
    bottom: 20%;
    width: 380px;

}

.inferior::before {
    position: absolute;
    content: '';
    width: var(--before-width, 380px);
    height: 1px;
    background-color: #000;
    bottom: 0px;
}

.inferior::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #000;
    right: 0;
    bottom: -2.5px;
}

.graficaCognitiva{
    position: absolute;
    width: 140px;
    height: 70px;
    /* border: 2px dotted darkgoldenrod; */
    display: flex;
    justify-content: center;
    bottom: -110px;
    gap: 15px;
}

.filtro{
    /* border: 2px dotted darkgoldenrod; */
    
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    background-color: #ffffff8c;
    mask: linear-gradient(#0000, #000)

}

.graficaCognitiva::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    background-color: gray;
    z-index: -1;
}

.barra1, 
.barra2, 
.barra3 {
    width: 20px;
    height: 70px;
    background-color: #000;
    
}

.barra1{
    transform: translateY(15px);
    filter: opacity(0.8);
    animation: barra1 5s ease-in-out infinite ;
}
.barra2{
    filter: opacity(0.6);
    transform: translateY(0px);
    animation: barra2 5s 1s ease-in-out infinite ;
}
.barra3{
    filter: opacity(0.3);
    transform: translateY(-15px);
    animation: barra3 5s ease-in-out infinite ;
}

@keyframes barra1{
      0%{transform: translateY( 15px);}
     50%{transform: translateY(-15px);}
    100%{transform: translateY( 15px);}
}
@keyframes barra2{
      0%{transform: translateY( 0px);}
     50%{transform: translateY(15px);}
    100%{transform: translateY( 0px);}
}
@keyframes barra3{
      0%{transform: translateY(-15px);}
     25%{transform: translateY(0px);}
     50%{transform: translateY(15px);}
     75%{transform: translateY(0px);}
    100%{transform: translateY(-15px);}
}


.graficaCardiaca{
    position: absolute;
    width: 140px;
    height: 70px;
    /* border: 2px dotted darkgoldenrod; */
    display: flex;
    justify-content: center;
    top: -80px;
    right: 10px;
    gap: 15px;
    overflow: hidden;
}

.graficaCardiaca::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    animation: frecuencia 5s linear infinite;

}

@keyframes frecuencia {
      0%{transform: translateX(-150%);}
    100%{transform: translateX( 150%);}
}

.graficaBiliar{
    position: absolute;
    width: 140px;
    height: 70px;
    /* border: 2px dotted darkgoldenrod; */
    display: flex;
    justify-content: center;
    bottom: -0px;
    left: 0px;
    gap: 15px;
    
}

.linea1{
    animation: linea1 5s ease-in-out infinite;
}

.ejeY{
    font-size: 10px;
    position: relative;
    transform: translate(-5px, -5px);
    line-height: 1.4;
    text-align: center;
    
}
.ejeY::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    border-top: 1px dashed lightgrey;
    right: -110px;
}
.ejeY::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    border-top: 1px dashed lightgrey;
    right: -110px;
    top: 20px;
}
.ejeX{
    position: absolute;
    font-size: 10px;
    bottom: -5px;
    top: 30px;
}

.ejeX::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 40px;
    border-right: 1px dashed lightgrey;
    /* box-shadow: 40px 0px 0px lightgray; */
    top: -45px;
    left: 80%;
}

.gluco{
    position: absolute;
    top: 100px;
    left: 180px;
    font-size: 10px;
    span{
        font-size:25px;
        padding-right: 3px;
    }
}

@keyframes linear1{
    0%{}
    100%{}
}