@import url("../css/global.css");

html { font-size: 100%; }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-Inter);
    color: var(--color-LSazul3);
}

.panel{
    width: 100%;
    height: 100vh;
    
}

header{
    width: 100%;
    height: 130px;
    /* border: 2px dashed; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cntLogo{
    width: 200px;
    
    margin-left: 5%;
    img{
        width: 230px;
    }
}
.cntPerfil{
    margin-right: 5%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 50px;
    .foto{
        object-fit: cover ;
        img{
            width:  60px;
            height: 60px;
            border: 2px solid ;
            border-radius: 50%;
            flex-direction: column;
        }
    }
}

.opciones{
    
    padding-right: 10%;
    width: 100%;
    height: 35px;
    background-color: var(--color-LSazul3);
    display: flex;
    justify-content: end;
    & a {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 10%;
        height: 100%;
        color: white;
        text-decoration: none;
        &:hover { font-weight: 700;}
        
    }
    
}

.navegacion {
    margin-bottom: 10px;
    padding-right: 10%;
    width: 100%;
    height: 35px;
    background-color: #e9eaf4;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    & a {
        color: #001124;
        margin-right: 30px;
        text-align: center;
        width: 150px;
        height: 100%;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-decoration: none;
        background: linear-gradient(to left, #D7DAE3, transparent );
        &:hover { font-weight: 700;}
        
    }
}
.navegacion > a:hover {
}
.navegacion a::before {
    position: absolute;
    content: '';
    border-width: 35px 0px 35px 35px;
    border-color: transparent transparent transparent #D7DAE3 ;
    border-style: solid;
    height: 0%;
    right: -25px;
    transform: scale(.5);
    

}



.menuLateral{
    width: 15%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    /* border: 2px dashed; */
    justify-content: start;
    background-color: #D4E1F9;
    .btnLateral{
        background-color: transparent;
        position: relative;
        appearance: none;
        min-width: fit-content;
        border: none;
        display: block;
        height: 70px;
        color: #001124;
        cursor: pointer;
        
        
        
    }
    
}

.btnLateral::before{
    position: absolute;
    content: '';
    border-width: 35px 0px 35px 35px;
    border-color: transparent transparent transparent #9CB6E2 ;
    border-style: solid;
    top: 0;
    right: -22px;
    transform: scale(.3);
    visibility: hidden;
    z-index: 100;
    
}

.btnLateral:hover {
    background: linear-gradient(to bottom, rgba(114, 155, 236, 0.4), rgb(18, 71, 137, 0.4));
}

.btnLateral:hover::before {
    visibility: visible;
}

main{
    display: flex;
    position: relative;

}
.cntTab{
    position: absolute;
    right: 5%;
    
    width: 70%;
    height: 90%;
    /* border: 2px dashed; */
    display: flex;
}

.tab {
    opacity: 0;
    /* visibility: hidden; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-20px);
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease;
}

.tab.active {
    opacity: 1;
    visibility: visible;
    position: relative;
    transform: translateX(0px);
}

.tab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    /* border: 2px dashed red; */
    .img{
        object-fit: contain;
        /* border: 2px dashed; */
        
        img{
            width: 250px;
            filter: grayscale(1);
        }
    }

    .info{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.sbMnu {
    position: absolute;
    width: 20%;
    height: 100%;
    background-color:#E4E5EA ;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-72%);
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2em;
    padding-left: 5em;
    padding-top: 3em;
    & a { text-decoration: none;}
    
}

.sbMnu > 

