@import url("../css/global.css");

html { font-size: 125%; }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-Inter);
    color: var(--color-LSazul3);
}

.cntHero {
    width: 100%;
    height: 130vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    /* animation: animateBg 24s linear reverse infinite;
    background-image: linear-gradient(0deg,#ffffff,#2085ff3b,#ffffff,#ffffff,#a8cefe); */
    background-size: 100% 300%;
}

  
  @keyframes animateBg {
    0% { background-position: 0% 100%; }
    100% { background-position: 0% 0%; }
  }
  

.cntFractal {
    position: absolute;
    width: 70%;
    right: 0;
    filter: opacity(0.8);
    overflow: hidden;
    z-index: 0;
    animation: giro 10s linear infinite reverse;
    & svg {
        float: center;
        width: 100%;
        height: 100%;
        transform: rotate(-30deg) scale(1.85);
    }
}

.cntLogo {
    width: 100%;
    height: auto;
    text-align: end;
    padding-right: 5%;
    img{
        width: 20%;
    }
    
    
}

.cntInfo {
    display: flex;
    height: 100vh;
    align-items: end;
    margin-top: 25%;
    margin-left: 10%;
    width: 35%;
    z-index: 1;
    & h3 { font-size: clamp(2rem, 4.5714rem + -11.4286vw, 1rem); };
    & p  { font-size: var(--clmp-min720-text2); width: 50%;};
    & button { margin-top: 2rem; };
}

.cntOption{
    width: 150px;
    display: flex;
    margin-top: 30px;
    gap: 20px;
    & :nth-child(1){background-color: var(--color-LSazul3);}
    span{
        width:  18px;
        height: 18px;
        background-color: var(--color-LSgris3);
        border-radius: 50%;
        cursor: pointer;
        
    }
}


path {  
    stroke-dasharray: 2000;   
    stroke-dashoffset: 2000;  
    animation: draw 12s ease infinite alternate-reverse;   
}  

.path1 { animation-delay: 0.0s; }  
.path2 { animation-delay: 0.2s; }  
.path3 { animation-delay: 0.4s; }  
.path4 { animation-delay: 0.6s; }  
.path5 { animation-delay: 0.8s; }  
.path6 { animation-delay: 1.0s; }  
.path7 { animation-delay: 1.2s; }  
.path8 { animation-delay: 1.4s; }  
.path9 { animation-delay: 1.6s; }  
.path10 { animation-delay: 1.8s; }  
.path11 { animation-delay: 2.0s; }  
.path12 { animation-delay: 2.2s; }  
.path13 { animation-delay: 2.4s; }  
.path14 { animation-delay: 2.6s; }  
.path15 { animation-delay: 2.8s; }  
.path16 { animation-delay: 3.0s; }  
.path17 { animation-delay: 3.2s; }  
.path18 { animation-delay: 3.4s; }  
.path19 { animation-delay: 3.6s; }  
.path20 { animation-delay: 3.8s; }  
.path21 { animation-delay: 4.0s; }  
.path22 { animation-delay: 4.2s; }  
.path23 { animation-delay: 4.4s; }  
.path24 { animation-delay: 4.6s; }  
.path25 { animation-delay: 4.8s; }  
.path26 { animation-delay: 5.0s; }  
.path27 { animation-delay: 5.2s; }  
.path28 { animation-delay: 5.4s; }  
.path29 { animation-delay: 5.6s; }  
.path30 { animation-delay: 5.8s; }  
.path31 { animation-delay: 6.0s; }  
.path32 { animation-delay: 6.2s; }  
.path33 { animation-delay: 6.4s; }  
.path34 { animation-delay: 6.6s; }  
.path35 { animation-delay: 6.8s; }  

@keyframes draw {
    to{stroke-dashoffset: 0;}

}

.cntServi{
    margin: 700px auto;
    width: 80%;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* border: 2px dashed greenyellow; */
    text-align: center;
    .cntCircu {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        .circu{
            position: relative;
            width:  200px;
            height: 200px;
            border-radius: 50%;
            background: radial-gradient(circle 200px at 20% 30%, 
            rgba(255, 255, 255, 0.3) 0%, 
            rgba(190, 190, 190, 0.4) 70%, 
            rgba(165, 6, 6, 0) 100%);
            box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
            
            
            span{
                position: absolute;
                bottom: -100px;
                left: 50%;
                transform: translate(-50%);
                
            }
        }
    }
}

.cntAfili{
    margin: 50px auto;
    width: 70%;
    text-align: center;
    h3{
        margin-bottom: 70px;
    }
}

.cntPasPer{
    margin: 50px auto;
    width: 70%;
    display: flex;
    .descr{
        margin: 0 auto;
        border: 2px dashed;
        width: 40%;
    }
}
