*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    }

    @font-face {
        font-family: 'Inter';
        src: url(./../src/font/Inter/Inter-VariableFont_opsz\,wght.ttf);
    }

    body{
        background-color:rgb(255, 255, 255) ;
    }

    /*Tarjetas*/
    .cnt-trj, .cnt-tit, .cnt-pat, .cnt-menu, .cnt-cal, .cnt-select, .cnt-clip{
        border: 2px dashed darkcyan;
        width: 80%;
        padding: 20px;
        margin: 100px auto;
        display: flex;
        justify-content: center;
        gap: 10px;
        .trj{
            width: 100px;
            height: 100px;
            background-color: blueviolet;
            border-radius: 8px;
            box-shadow: 1px 2px 5px rgba(0,0,0, 0.9);
            transition: 300ms ease-in-out;
            & :hover{
                
                    
                
            }
        }
        
    }

    .cnt-trj:hover > :not(:hover){
        opacity: .4;
        scale: .9;
    }

    /*titulo*/

    .cnt-tit{
        h2{
            font-size: 70px;
            font-weight: 100;
            color: dimgray;
            
            display: flex;
            gap: 10px;
            
            span{

                transition: 1.5s;
            }
        }

        h2:hover span{
            filter: blur(20px);
            opacity: 0;
            transform: scale(2);
        }
        h2 span:nth-child( 1){transition-delay: 0.0s;}
        h2 span:nth-child( 2){transition-delay: 0.1s;}
        h2 span:nth-child( 3){transition-delay: 0.2s;}
        h2 span:nth-child( 4){transition-delay: 0.3s;}
        h2 span:nth-child( 5){transition-delay: 0.4s;}
        h2 span:nth-child( 6){transition-delay: 0.5s;}
        h2 span:nth-child( 7){transition-delay: 0.6s;}
        h2 span:nth-child( 8){transition-delay: 0.7s;}
        h2 span:nth-child( 9){transition-delay: 0.8s;}
        h2 span:nth-child(10){transition-delay: 0.9s;}
        h2 span:nth-child(11){transition-delay: 1.0s;}
        
    } 



    .cnt-pat{
        margin: 0 auto;
        width: 150px;
        height: 150px;
        background-color: red;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
        animation: pat 5s ease-in-out;
    }

    @keyframes pat{
         0%{clip-path: polygon(0%   0%,   0%   100%, 100% 100%);}
        10%{clip-path: polygon(100% 0%,   0%   100%, 100% 100%);}
        20%{clip-path: polygon(100% 0%,   0%     0%, 100% 100%);}
        30%{clip-path: polygon(100% 0%,   0%     0%,   0% 100%);}
        40%{clip-path: polygon(100% 100%, 0%     0%,   0% 100%);}
        50%{clip-path: polygon(100% 100%, 100%   0%,   0% 100%);}
    }

    .cnt-menu{
        height: 250px;
        display: flex;
        align-items: center;
        .flt-menu{
            width: 100px;
            height: 100px;
            background-color: blueviolet;
            border-radius: 50%;
            position: relative;
            
            .menu{
                border-radius: 50%;
                background-color: blueviolet;
                width:  100%;
                height: 100%;
                box-shadow: -12px 12px 35px rgba(137, 43, 226, 0.418);
                position: relative;
                & img{
                    position: absolute;
                    
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    filter: invert(.9);
                    display: block;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .4s ease;
                }
            }
        }

        .flt-menu.active .menu img{
            filter: invert(.1);
        }
        .sbmenu{
            
            
            img{
                position: absolute;
                width:  80%;
                height: 80%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #a35fc2;
                border-radius: 50%;
                transition: 0.5s ease;
                z-index: -1;
                transition: 0.5s;
                ;
            }
        }
        .flt-menu.active .sbmenu img:nth-child(1){
            transition-delay: 50ms;
            top: -60px;
            left: 180px;
            
        }
        .flt-menu.active .sbmenu img:nth-child(2){
            transition-delay: 100ms;
            
            left: 220px;
        }
        .flt-menu.active .sbmenu img:nth-child(3){
            transition-delay: 150ms;
            top: 160px;
            left: 180px;
        }

        
    }

    .cnt-cal{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(145, 144, 144);
        
        ol{
            gap: 15px;
            text-align: center;
            list-style: none;
            display: grid;
            
            grid-template-columns: repeat(7, 1fr);
            .primerDia{
                grid-column-start: 7;
            }
            li{
                background-color: #f1f1f1;
                width: 40px;
                height: 40px;
                padding-top: 12px;
                border-radius: 50%;
                transition: 0.4s ease;
                cursor: pointer;
            }
            li:hover{
                background-color: #00daea6b;
                color: white;
            }
        }
        #cnt-for{
            visibility: hidden;
            margin-top: 20px;
            transition: 0.5s ease-in-out
        }
        #formContainer {  
            background-color: #f9f9f9;  
            padding: 20px;  
            border: 1px solid #ccc;  
            border-radius: 5px;  
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);  
        }  
        
    }

    input{
        width: 40px;
        height: 65px;
        margin: 10px;
        border-radius: 7px;
        appearance: none;
        border-style: none;
        background-color: rgba(211, 211, 211, 0.5);
        text-align: center;
        font-size: 32px;
    }
    button{
        border: none;
        border-radius: 25px;
        padding: 15px 35px;
        font-size: 16px;
        transition: 0.3s ease;
        cursor: pointer;
    }
    button:hover{
        background-color: rgba(211, 211, 211) ;
    }

    .cnt-logo{
        margin: 100px auto;
        width: 200px;
        border: 2px dotted darkmagenta;
    }

    #ala1, 
    #ala2, 
    #ala3, 
    #ala4{
        transform: rotate3d(1, 0, 0, 5deg);
        animation: vuela 0.5s linear infinite;
        transform-origin: 50% 65%;
    }

    @keyframes vuela {
          0%{transform: rotate3d(1, 0, 0,  5deg) translateY(0); scale: 1; }
         50%{transform: rotate3d(1, 0, 0, 45deg) translateY(25px); scale: 0.7;}
        100%{transform: rotate3d(1, 0, 0,  5deg) translateY(0); scale: 1;}
        
    }
    #ala5, 
    #ala6, 
    #ala7, 
    #ala8{
        transform: rotate3d(1, 0, 0, 5deg) rotateY(90deg);
        animation: vuela 0.5s linear infinite;
        animation-delay: .3s;
        transform-origin: 50% 65%;
    }

    @keyframes vuela {
          0%{transform: rotate3d(1, 0, 0,  5deg) translateY(0); scale: 1; }
         50%{transform: rotate3d(1, 0, 0, 45deg) translateY(25px); scale: 0.7;}
        100%{transform: rotate3d(1, 0, 0,  5deg) translateY(0); scale: 1;}
        
    }

    /* #select{
        width: 100px;
        text-align: end;
        padding-right: 16px;
        appearance: none;
        position: relative;

    } */
    /* #select::before{
        position: absolute;
        contain: "xxx";
        width: 30px;
        height: 30px;
        background-color: red;

        
    } */


.cnt-clip{
    height: 80vh;
    position: relative;
    & .clip{
        position: absolute;
        margin: 50px auto;
        width: 80%;
        height: 80%;
        background-color: #a35fc2;
        
        clip-path: polygon(0 100%, 20% 100%, 20% 100%, 0% 100%);
        
        
        
    }
    & .front{
        position: absolute;
        margin: 50px auto;
        width: 80%;
        height: 80%;
        background-color: #dd1d93;

    }


}
.cnt-clip:hover .clip{
    animation: extiende 3s linear forwards;
}
.cnt-clip:hover .front{
    animation: extiende 3s linear forwards;
}
.cnt-clip:hover .back{
    animation: extiende 3s linear forwards;
}

@keyframes extiende{
      0%{clip-path: polygon(0 100%, 50% 100%, 50% 100%, 0 100%)}
     20%{clip-path: polygon(0 100%, 50% 100%, 50% 0, 0 0)}
    40%{clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0)}
    60%{clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0)}
    90%{clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)}
    100%{clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0)}
}