*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 200vh;
}

.st0{display:none;}
.st1{display:inline;fill:#0097C0;}
.st2{fill:#007AAA;}
.st3{fill:#0097C0;}
.st4{fill:#00B2D0;}
.st5{fill:#67C7DD;}
.st6{fill:#B5E0ED;}

.cnt-logo{
    padding: 10px;
    margin: 450px auto;
    display: flex;
    width: 200px;
    height: auto;
    /* border: 2px solid; */
    justify-content: end;
    position: relative;    
    /* border: 2px dotted darkgoldenrod; */

    
}

#ala1{
    transform: translateX(350px);
    transform: rotate(0deg);
    transform-origin: 20% 100%;
    animation: ala1 5s ease ;
}

@keyframes ala1 {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(30deg);}
}


#ala2{}
#ala3{}
#ala4{}
#cuerpo{

}

svg{
    position: absolute;
    bottom: 0;
    left: 0;
}

/* 
#chle{
    transform: rotate(0deg);
    transform: scale(1);
    animation: chle 4s ease ;
}

@keyframes chle {
    0%{
        transform: rotate(0deg) translate(100%, 0px) scale(1);
        filter: opacity(0);
        
    }
    50%{
        transform: rotate(0deg) translate(100%, 50px) scale(.85);
        filter: opacity(1);
    }

    100%{
        transform: translate(0deg) translate(0px, 0px);
        filter: opacity(1);
    }
}

#pluma1{
    transform: rotate(-0deg);
    transform-origin: center ;
    animation: pluma1 4s 0s ease ;
    transform: scale(1);
}
#pluma2{
    transform: rotate(-0deg);
    transform-origin: center ;
    transform: scale(1);
    animation: pluma2 4s 0.2s ease ;
    
}
#pluma3{
    transform: rotate(-0deg);
    transform-origin: center ;
    transform: scale(1);
    animation: pluma3 4s 0.4s ease ;
}
#pluma4{
    transform: rotate(-0deg);
    transform-origin: center ;
    transform: scale(1);
    animation: pluma4 4s 0.48s ease ;
}

@keyframes pluma1{
    0% {transform: rotate(0);}
    50%{transform: rotate(-30deg) translateX(-5px);
        
    }
    100%{transform: rotate(0);}
}

@keyframes pluma2{
    0%{transform: rotate(0deg) translate(0px, 0px) scale(1.0);}
    50%{transform: rotate(-45deg) translate(0px, 0px) scale(0.0);}
    100%{transform: rotate(0deg) translate(0px, 0px) scale(1);}
}

@keyframes pluma3{
    0%{transform: rotate(0deg) translate(0px, 0px);}
    35%{transform: rotate(-70deg) translate(-20px, -20px) scale(0.0);}
    50%{transform: rotate(-70deg) translate(-10px, 0px) scale(0.0);}
    100%{transform: rotate(0deg) translate(0px);}
}
@keyframes pluma4{
    0%{transform: rotate(0deg) translate(0px, 0px);}
    30%{transform: rotate(-90deg) translate(-10px, -30px) scale(0.0);}
    50%{transform: rotate(-90deg) translate(-20px, -30px) scale(0.0)}
    100%{transform: rotate(0deg) translate(0px);}
}
 */

#chle{
    transform: rotate(0deg);
    transform: scale(1);
    animation: chle 4s ease ;
}

@keyframes chle {
    0%{
        transform: rotate(0deg) translate(100%, 0px) scale(1);
        filter: opacity(0);
        
    }
    50%{
        transform: rotate(0deg) translate(100%, 50px) scale(.85);
        filter: opacity(1);
    }

    100%{
        transform: translate(0deg) translate(0px, 0px);
        filter: opacity(1);
    }
}

#pluma1{
    transform: rotate(-0deg);
    transform-origin: center ;
    animation: pluma1 4s 0s ease forwards;
    transform: scale(0);
}
#pluma2{
    transform: rotate(-0deg);
    transform-origin: center ;
    transform: scale(0);
    animation: pluma2 4s 0.2s ease forwards;
    
}
#pluma3{
    transform: rotate(-0deg);
    transform-origin: center ;
    transform: scale(0);
    animation: pluma3 4s 0.4s ease forwards;
}
#pluma4{
    transform: rotate(-0deg);
    transform-origin: center ;
    transform: scale(0);
    animation: pluma4 4s 0.48s ease forwards ;
}

@keyframes pluma1{
    0% {transform: rotate(0deg) scale(0);}
    50%{transform: rotate(0deg) translateX(-0px) scale(0);
        /* transform-origin: 260px 350px; */
    }
    100%{transform: rotate(0deg) translateX(-0px) scale(1);}
}

@keyframes pluma2{
    0%{transform: rotate(-45deg) translate(0px, 0px) scale(0.0);}
    50%{transform: rotate(-45deg) translate(0px, 0px) scale(0.0);
         
        /* transform-origin: 260px 350px; */
    }
    100%{transform: rotate(0deg) translate(0px, 0px) scale(1);}
}

@keyframes pluma3{
    0%{transform: rotate(-70deg) translate(-20px, -20px) scale(0.0);}
    35%{transform: rotate(-70deg) translate(-20px, -20px) scale(0.0);}
    50%{transform: rotate(-70deg) translate(-10px, 0px) scale(0.0);
        
        /* transform-origin: 250px 350px; */
    }
    100%{transform: rotate(0deg) translate(0px) scale(1);}
}
@keyframes pluma4{
    0%{transform: rotate(-90deg) translate(-10px, -30px) scale(0);}
    30%{transform: rotate(-90deg) translate(-10px, -30px) scale(0.0);}
    50%{transform: rotate(-90deg) translate(-20px, -30px) scale(0.0);
        /* transform-origin: 250px 350px; */
    }
    100%{transform: rotate(0deg) translate(1px) scale(1);}
}