*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 200vh;
}

.st0{display:none;}
.st1{display:inline;fill:#0097C0;}
.st2{fill:#007AAA;}
.st3{fill:#0097C0;}
.st4{fill:#00B2D0;}
.st5{fill:#67C7DD;}
.st6{fill:#B5E0ED;}

.cnt-logo{
    padding: 10px;
    margin: 450px auto;
    display: flex;
    width: 200px;
    height: auto;
    /* border: 2px solid; */
    justify-content: end;
    position: relative;    
    /* border: 2px dotted darkgoldenrod; */

    
}

#ala1{
    transform: translateX(350px);
    transform: rotate(0deg);
    transform-origin: 20% 100%;
    animation: ala1 5s ease infinite;
}

@keyframes ala1 {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(30deg);}
}


#ala2{}
#ala3{}
#ala4{}
#cuerpo{

}

svg{
    position: absolute;
    bottom: 0;
    left: 0;
}

#chle{
    transform: rotate(0deg);
    animation: chle 4s ease infinite;
}

@keyframes chle {
    0%{
        transform: rotate(0deg) translate(0px, 0px);
        filter: opacity(1);
        
    }
    50%{
        transform: rotate(-10deg) translate(0px, 50px);
        filter: opacity(.7);
    }
    100%{
        transform: translate(0deg) translate(0px, 0px);
        filter: opacity(1);
    }
}

#pluma1{
    transform: rotate(-0deg);
    transform-origin: center ;
    animation: pluma1 4s 0s ease infinite;
}
#pluma2{
    transform: rotate(-0deg);
    transform-origin: center ;
    animation: pluma2 4s 0.2s ease infinite;
}
#pluma3{
    transform: rotate(-0deg);
    transform-origin: center ;
    animation: pluma3 4s 0.4s ease infinite;
}
#pluma4{
    transform: rotate(-0deg);
    transform-origin: center ;
    animation: pluma4 4s 0.6s ease infinite;
}

@keyframes pluma1{
    0% {transform: rotate(0);}
    50%{transform: rotate(-30deg);
        transform-origin: 250px 350px;
    }
    100%{transform: rotate(0);}
}

@keyframes pluma2{
    0%{transform: rotate(0deg) translate(0px, 0px);}
    50%{transform: rotate(-50deg) translate(3px, -35px);
        transform-origin: 250px 350px;
    }
    100%{transform: rotate(0deg) translate(0px);}
}

@keyframes pluma3{
    0%{transform: rotate(0deg) translate(0px 0px);}
    50%{transform: rotate(-70deg) translate(6px, -55px);
        transform-origin: 250px 350px;
    }
    100%{transform: rotate(0deg) translate(0px);}
}
@keyframes pluma4{
    0%{transform: rotate(0deg) translate(0px 0px);}
    50%{transform: rotate(-90deg) translate(13px, -65px);
        transform-origin: 250px 350px;
    }
    100%{transform: rotate(0deg) translate(0px);}
}