* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      overflow-x: hidden;
    }

    .carrusel {
      width: 50vw;
      height: 400px;
      overflow: hidden;
      position: relative;
			border: 2px dashed darkmagenta;
    }

    .carrusel-inner {
      display: flex;
      gap: 50px;
      height: 100%;
      width: max-content;
      animation: mover 200s linear infinite;
			align-items: center;
    }

    .tarjeta {
      width: 300px	;
      height: 50%;
      background-color: #f36;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color: white;
      transition: transform 0.3s;
    }

    .tarjeta:hover {
      transform: scale(1.05);
    }

    @keyframes mover {
      0% { transform: translateX(0); }
      100% { transform: translateX(-100%); }
    }

    .pausado {
      animation-play-state: paused !important;
    }

    .contenido-oculto {
    display: none;
    padding: 10px;
    background-color: lightyellow;
    border: 1px solid gold;
}
#info-revelada:target {
    display: block; /* Se muestra cuando es el objetivo del enlace */
}